spring:
  application:
    name: smartwindow
# ---------------------------------
# 공통 설정 (모든 프로필에 적용)
# ---------------------------------
server:
  port: 8080 # 우리 서버가 실행될 포트

# JWT (JSON Web Token) 설정
jwt:
  secret: ${JWT_SECRET} # TODO: 외부 환경변수에서 가져올 JWT 비밀키
  expiration: 1296000000 # 토큰 만료 시간

# Swagger (API 문서 자동화) 설정
springdoc:
  swagger-ui:
    enabled: true
    display-request-duration: true

# --- 는 프로필을 나누는 구분선입니다.
---
# ---------------------------------
# 'dev' 프로필 (개발 환경)
# ---------------------------------
spring:
  config:
    activate:
      on-profile: dev # 'dev' 프로필 활성화

  # Database & JPA
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_window_db
    username: smart_window_user
    password: lumiscape
  jpa:
    hibernate:
      ddl-auto: update # 개발 시에는 update로 설정하여 엔티티 변경사항을 DB에 자동 반영
    show-sql: true # 실행되는 SQL 쿼리를 로그로 보여줌
    properties:
      hibernate:
        format_sql: true # SQL 로그를 예쁘게 포맷팅

  # 소셜 로그인 (OAuth2) 설정
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID} # TODO: 구글 클라우드에서 발급받은 클라이언트 ID
            client-secret: ${GOOGLE_CLIENT_SECRET} # TODO: 구글 클라우드에서 발급받은 클라이언트 시크릿
            scope:
              - profile
              - email
          kakao:
            client-id: ${KAKAO_CLIENT_ID} # TODO: 카카오 개발자 사이트에서 발급받은 클라이언트 ID
            client-secret: ${KAKAO_CLIENT_SECRET} # TODO: 카카오 개발자 사이트에서 발급받은 클라이언트 시크릿
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: ${NAVER_CLIENT_ID} # TODO: 네이버 개발자 사이트에서 발급받은 클라이언트 ID
            client-secret: ${NAVER_CLIENT_SECRET} # TODO: 네이버 개발자 사이트에서 발급받은 클라이언트 시크릿
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - name
              - email
              - profile_image
            client-name: Naver
      provider:
        naver:
          authorization-uri: https://nid.naver.com/oauth2.0/authorize
          token-uri: https://nid.naver.com/oauth2.0/token
          user-info-uri: https://openapi.naver.com/v1/nid/me
          user-name-attribute: response # 네이버는 사용자 정보가 'response' 객체 안에 중첩되어 있음
---
# ---------------------------------
# 'prod' 프로필 (운영 환경 - 나중에 사용)
# ---------------------------------
spring:
  config:
    activate:
      on-profile: prod # 'prod' 프로필 활성화

  # Database & JPA
  datasource:
    url: ${DB_URL} # 외부 환경변수에서 DB URL 주입
    username: ${DB_USERNAME} # 외부 환경변수에서 DB 사용자 이름 주입
    password: ${DB_PASSWORD} # 외부 환경변수에서 DB 비밀번호 주입
  jpa:
    hibernate:
      ddl-auto: validate # 운영 시에는 validate 또는 none으로 설정하여 DB를 함부로 변경하지 않도록 함
    show-sql: false
