fastapi
uvicorn[standard]
ultralytics
opencv-python
numpy
pillow

torch
torchvision

lama-cleaner

diffusers
transformers
accelerate

requests
python-multipart

# py -3.10 -m venv testv
# .\testv\Scripts\activate
# pip install -r  .\requirements.txt
# uvicorn main:app --reload --host 0.0.0.0 --port 8080
