# ===============================================
# 공통 설정 (모든 프로필에 적용)
# ===============================================
spring:
  # 기본 프로필을 'dev'로 설정합니다.
  # 이렇게 하면 실행 시 별도 옵션이 없어도 'dev' 환경으로 동작합니다.
  profiles:
    default: dev
  application:
    name: smartwindow
  # 서버의 시간대를 서울로 고정합니다.
  jackson:
    time-zone: Asia/Seoul
  # 파일 업로드 설정
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

server:
  port: 8080 # 우리 서버가 실행될 포트

# JWT (JSON Web Token) 설정
jwt:
  secret: ${JWT_SECRET} # TODO: 외부 환경변수에서 가져올 JWT 비밀키
  expiration: 1296000000 # 토큰 만료 시간

# Swagger (API 문서 자동화) 설정
springdoc:
  swagger-ui:
    enabled: true
    display-request-duration: true
swagger:
  server-url: http://localhost:8080


# --- 는 프로필을 나누는 구분선입니다. ---
---
# ===============================================
# 'dev' 프로필 (개발 환경)
# ===============================================
spring:
  config:
    activate:
      on-profile: dev

  # Database & JPA
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_window_db
    username: smart_window_user
    password: lumiscape
  jpa:
    hibernate:
      ddl-auto: update # 개발 시에는 update로 설정하여 엔티티 변경사항을 DB에 자동 반영
    show-sql: true # 실행되는 SQL 쿼리를 로그로 보여줌
    properties:
      hibernate:
        format_sql: true # SQL 로그를 예쁘게 포맷팅
        dialect: org.hibernate.dialect.PostgreSQLDialect # DB 종류를 명시

  # 소셜 로그인 (OAuth2) 설정
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - name
              - email
              - profile_image
            client-name: Naver
        provider:
          # 카카오 Provider 정보 추가
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

# --- 는 프로필을 나누는 구분선입니다. ---
---
# ===============================================
# 'prod' 프로필 (운영 환경)
# ===============================================
spring:
  config:
    activate:
      on-profile: prod

  # Database & JPA
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate # 운영 시에는 validate 또는 none으로 설정하여 DB를 함부로 변경하지 않도록 함
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect # DB 종류를 명시